        body, html {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            scroll-behavior: smooth;
            overflow-x: hidden;
        }
        .navigation {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: #FFF;
            padding: 1em 3em 0.4em 3em;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px); /* For Safari */
            z-index: 10;
        }
        .logo-image {
            height: 80px;
            width: auto;
        }
        .menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .menu a {
            color: white;
            font-size: 20px;
            text-decoration: none;
            transition: background-color 0.3s;
            margin: 0 10px;
            overflow: hidden;
        }
        .menu-button-container {
            display: none;
            height: 100%;
            width: 30px;
            cursor: pointer;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        #menu-toggle {
            display: none;
        }
        .menu-button,
        .menu-button::before,
        .menu-button::after {
            display: block;
            background-color: #fff;
            position: absolute;
            height: 4px;
            width: 30px;
            transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
            border-radius: 2px;
        }
        .menu-button::before {
            content: '';
            margin-top: -8px;
        }
        .menu-button::after {
            content: '';
            margin-top: 8px;
        }
        #menu-toggle:checked + .menu-button-container .menu-button::before {
            margin-top: 0px;
            transform: rotate(405deg);
        }
        #menu-toggle:checked + .menu-button-container .menu-button {
            background: rgba(255, 255, 255, 0);
        }
        #menu-toggle:checked + .menu-button-container .menu-button::after {
            margin-top: 0px;
            transform: rotate(-405deg);
        }
        .navHover {
            padding: 15px;
            border-radius: 5px;
            margin: 1em 0;
            }
            .navHover:hover {
            background-color: rgb(107, 107, 107);
        }
        @media (max-width: 1024px) {
            .navigation {
                justify-content: space-between;
                height: 4.6em;
                padding: 0 3em 0 1em;
            }
            .logo-image {
                height: 4em; 
                width: auto;
            }
            .menu-button-container {
              display: flex;
            }
            .menu {
              position: absolute;
              top: 0;
              margin-top: 4.6em;
              left: 0;
              flex-direction: column;
              width: 100%;
              align-items: center;
            }
            #menu-toggle ~ .menu a {
              height: 0;
              margin: 0;
              padding: 0;
              border: 0;
              transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            }
            #menu-toggle:checked ~ .menu a {
              border: 1px solid #333;
              height: 3em;
              padding: 0.1em;
              font-size: 17px;
              transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            }
            .menu > a {
              display: flex;
              justify-content: left;
              align-items: center;
              margin: 0;
              padding: 0.5em 0;
              width: 100%;
              color: white;
              background-color: #222;
            }
            .menu > a:not(:last-child) {
              border-bottom: 1px solid #444;
            }
            .menu b{
                margin-left: 30px;
            }
            .navHover{
                padding: 0;
                margin: 0;
            }
        }
        .section {
            min-height: 100vh;
            display: flex;
            align-items: center;
            position: relative;
        }
        .white-link {
            color: white;
            text-decoration: none;
        }
        .white-link:hover {
            color: #007bff;
            text-decoration: underline;
        }
        .fixed-background-home {
            background-image: url('images/bg1.png');
            background-size: cover; 
            background-attachment: fixed;
            background-position: center; 
            min-height: 75vh; 
            width: 100%; 
        }
        .fixed-background {
            background-image: url('images/bg2.jpg');
            background-size: cover; 
            background-attachment: fixed;
            background-position: center; 
            min-height: 100vh; 
            width: 100%; 
            position: relative;
        }
        .fixed-background::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.08) 30%, rgba(0,0,0,0.7) 70%);
            z-index: 1;
        }
        .booking::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to bottom right, rgb(255 255 255 / 13%) 5%, rgba(0,0,0,0.7) 90%);
            z-index: 1;
        }
        .offer::before {
            content: '';
            position: absolute;
            left: 0;
            width: 45%; /*test1: 33.33*/
            height: 100%;
            background-size: cover;
            background-position: center;
        }
        .contact::after {
            content: 'Telefon: +48 111 222 333';
            display: block; 
            height: 100%;
            width: 30%;
            margin-top: 10%; 
            color: white; 
            font-size: 25px;
        }
        .home {
            color: white;
        }
        .offer {
            align-items: baseline;
            justify-content: center;
        }
        .steps {
            align-items: baseline;
            justify-content: center;
            color: white;
        }
        .offer, .gallery, .location {
            color: black;
            background-color: #fcf6ef;
        }
        @media (max-width: 1024px) {
            /* Hide the gallery content*/
            .gallery .content h2,
            .gallery .content p {
                display: none;
            }
            .gallery .content {
                flex-basis: 0;
            }
            .slider {
                position: relative;
            }
            .gallery-button {
                position: absolute; 
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%); 
                z-index: 1;
                padding: 15px 30px;
                background-color: #cb853f;
                color: white;
                box-shadow: 1px 2px 6px #2c2a2a;
                font-size: 1rem;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
            }
        }
        .booking {
            color: black;
            background-color: black;
            align-items: flex-start;
            height: auto;
        } 
        .contact {
            color: white;
            background-color: black;
            align-items: normal;
            border-top: 1px solid white;
            min-height: 50vh;
        } 
        .gallery-list {
            list-style-type: none;
            padding: 0;
            margin-left: 20px;
        }
        .pricelist {
            align-items: baseline;
            justify-content: center;
            color: white;
        }
        .location {
            min-height: 450px;
        }
        .offer::before {
            background-image: url('images/fig1.jpg');
        }
        .gallery::before {
            background-image: url('images/fig1.jpg');
        }
        .content {
            width: 100%;
            text-align: justify;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
        .home .content {
            width: 100%;
            padding-left: 0;
            align-items: center;
            text-align: center;
        }
        .offer .content {
            width: 55%;
            padding-left: 45%;
        }
        .gallery .content {
            width: 25%;
            align-items: center;
        }
        .steps .content {
            width: 80%;
            padding-left: 0;
            align-items: flex-start;
            text-align: center;
            z-index: 2;
        }
        .pricelist .content, .booking .content{
            width: 100%;
            padding-left: 0;
            align-items: center;
            text-align: center;
            z-index: 2;
        }
        .location .content {
            width: 100%;
            padding-left: 0;
            align-items: flex-start;
            text-align: center;
        }
        .contact .content {
            width: 70%;
            padding-left: 0;
            align-items: center;
            text-align: center;
        }
        h1 {
            color: #cb853f;
            margin-top: -300px;
            margin-left: 120px;
            font-size: 4.25em;
        }
        h2 {
            color: #cb853f;
            font-size: 3em;
        }
        h3 {
            font-size: 70px;
            margin-top: 10px;
            margin-bottom: 0;
        }
        h4 {
            font-size: 1.5em; 
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .home h1 {
            color: white;
            margin-top: -100px;
            margin-left: 0;
            font-family: "Pacifico", Sans-serif;
            text-shadow: 0px -1px 150px white;
        }
        .contact h2 {
            color: white;
            margin-left: 0;
            text-shadow: 0px -1px 150px white;
        }
        .offer h2 {
            font-size: 2em;
            margin-top: 40px;
            margin-bottom: 0;
        }
        @media (max-width: 600px) {
            .offer h2 {
                font-size: 1.5em;
            }
        }
        .steps h2 {
            color: white;
            font-size: 2.5em;
            margin-top: 90px;
            margin-left: 20px;
            margin-bottom: 70px;
        }
        .pricelist h2 {
            text-align: center;
            color: white;
            font-size: 2.75em;
            margin-top: 100px;
            margin-right: auto;
            margin-left: auto;
        }
        .booking h2 {
            text-align: center;
            color: white;
            font-size: 2.75em;
            margin-right: auto;
            margin-left: auto;
            margin-top: 70px;
            padding-left: 100px;
            padding-right: 100px;
            padding-bottom: 5px;
            border-bottom: 1px solid white;
        }
        p {
            margin-top: 30px;
            margin-left: 100px;
            margin-right: 100px;
            line-height: 1.6;  
        }
        .home p, .contact p {
            font-size: 24px;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
        }
        .offer p {
            font-size: 17px;
            margin-top: 10px;
            margin-left: 60px;
            margin-right: 0;
        }
        @media (max-width: 600px) {
            .offer p {
                font-size: 16px;
                margin-left: 35px;
            }
        }
        .pricelist p {
            font-size: 17px;
            margin-top: 0;
        }
        .steps p {
            font-size: 17px;
        }
        .reserve-button {
            display: inline-block;
            padding: 15px 30px;
            background-color: #cb853f;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .steps .reserve-button, .pricelist .reserve-button {
            margin: 34px auto;
        }
        .reserve-button:hover, .gallery-button:hover {
            background-color: #f99f33; 
        }
        #summaryButton, .gallery-button {
            display: inline-block;
            padding: 15px 40px;
            background-color: #cb853f;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            width: auto;
        }
        #summaryButton {
            margin-top: 40px;
            margin-bottom: 60px;
            padding-right: 50px;
            padding-left: 30px;
            position: relative;
        }
        #summaryButton::after {
            content: '▶';
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 13px;
            color: white; 
            transition: right 0.3s ease;
        }
        #summaryButton:hover::after {
            right: 17px; 
        }
        .social-icons {
            display: flex;
            justify-content: start;
            margin-left: 20px;
        }
        .social-icons a {
            color: white;
            margin: 5px;
            font-size: 24px;
        }
        .social-icons a:hover {
            color: #007bff;
        }
        .steps-wrapper {
            display: flex;
            justify-content: center;
            align-items: baseline;
            text-align: center;
            color: white; 
        }
        .step-container {
            flex-basis: 33%; 
            margin: 0 0.5%;
        }
        .step-container p {
            font-size: 17px;
            margin-left: 10px;
            margin-right: 10px;
            text-align: left;
        }
        .description-text {
            width: 100%;
        }
        .description-text p {
            width: 100%;
            font-size: 17px;
            margin-top: 10%;
            margin-bottom: 2%;
            margin-left: 0;
            margin-right: 0;
            text-align: center;
        }
        .offer-wrapper {
            display: flex;        
            flex-direction: column;
            align-items: flex-start;
            padding-left: 50px;
        }
        @media (max-width: 600px) {
            .offer-wrapper {
                padding-left: 15px;
            }
        }        
        .slider {
            overflow: hidden;
            width: 100%;
            height: 100vh;
            position: relative;
        }
        .slider .slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            animation: slider 15s infinite;
        }
        .slider .slide:nth-child(1) {
            background-image: url('images/slide1.jpeg');
            animation-delay: 0s;
        }  
        .slider .slide:nth-child(2) {
            background-image: url('images/slide2.jpeg');
            animation-delay: -3s;
        }  
        .slider .slide:nth-child(3) {
            background-image: url('images/slide3.jpg');
            animation-delay: -6s;
        }
        .slider .slide:nth-child(4) {
            background-image: url('images/slide4.jpg');
            animation-delay: -9s;
        }  
        .slider .slide:nth-child(5) {
            background-image: url('images/slide5.jpg');
            animation-delay: -12s;
        }
        .table-container {
            margin: auto;
            max-width: 1200px;
            width: 85%;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        thead tr {
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;
            height: 1px;
        }
        th {
            font-weight: bold;
            height: inherit;
            padding: 0;
        }
        th:not(:first-of-type) {
            border-left: 1px solid #ddd;
        }
        th button {
            background-color: #a7692b;
            border-radius: 0px;
            position: relative;
            border: none;
            padding: 8px 16px;
            font-size: 1rem;
            width: 100%;
            height: 100%;
            text-align: center;
        }
        @media (max-width: 768px) {
            th button {
                padding: 5px 10px;
                font-size: 0.8rem;
            }
        }
        th button::after {
            position: absolute;
            right: 0.5rem;
        }
        th button[data-dir="asc"]::after {
            content: '▲';
            font-size: 13px;
        }
        th button[data-dir="desc"]::after {
            content: '▼';
            font-size: 13px;
        }
        tbody tr {
            border-bottom: 1px solid white;
            border-left: 1px solid white;
            border-right: 1px solid white;
        }
        td {
            color: white;
            padding: 0.5rem 1rem;
            background-color: rgba(0, 0, 0, 0.7);
        }
        #map {
            height: 400px; 
            width: 100%;
        }
        @media (max-width: 768px) {
            .steps h2 {
                margin-bottom: 20px;
            }
            .steps-wrapper {
                flex-direction: column;
            }
            .step-container {
                flex-basis: auto;
                width: 100%; 
                margin: 10px 0;
            }
        }
        @keyframes slider {
            0%, 13%, 100% {
              transform: translateX(0);
              animation-timing-function: ease;
            }
            20% {
              transform: translateX(-100%);
              animation-timing-function: step-end;
            }
            93% {
              transform: translateX(100%);
              animation-timing-function: ease;
            }
        }
        button {
            width: 75px;
            cursor: pointer;
            box-shadow: 0px 0px 2px gray;
            border: none;
            outline: none;
            padding: 5px;
            border-radius: 5px;
            color: white;
        }
        #header {
            padding: 10px;
            color: #cb853f;
            font-size: 26px;
            font-family: sans-serif;
            display: flex;
            justify-content: space-between;
        }
        #header button {
            background-color:rgb(216, 109, 8)
        }
        #container {
            width: 100%;
            max-width: 770px;
            box-sizing: border-box; /* Padding/margins calculated within the container’s width */
            padding: 0 20px;
        }
        #weekdays {
            width: 100%;
            display: flex;
            color: #3d5863;
        }
        #weekdays div {
            width: 12.987%;
            padding: 5px;
        }
        #calendar {
            width: 100%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
        }
        .day {
            width: 12.987%;
            padding: 12px;
            height: 90px;
            cursor: pointer;
            box-sizing: border-box;
            background-color: white;
            margin: 0.648%;
            box-shadow: 0px 0px 3px #CBD4C2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: start;
        }
        @media (max-width: 1024px) {
            .day {
                height: 80px;
            }
            #weekdays div {
                font-size: 0.9rem;
            }
        }
        @media (max-width: 768px) {
            .day {
                height: 70px;
            }
            #weekdays div {
                font-size: 0.8rem;
            }
        }
        @media (max-width: 600px) {
            .day {
                height: 60px;
            }
            #weekdays div {
                font-size: 0.7rem;
            }
        }
        @media (max-width: 480px) {
            .day {
                height: 50px;
            }
            #weekdays div {
                font-size: 0.6rem;
            }
            .booking h2 {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
        .day + #currentDay {
            background-color:#dff4ff;
        }
        .day.booked {
            background-color: rgb(186, 186, 186);
            color: #7a7a7a
        }
        .event {
            font-size: 10px;
            padding: 3px;
            background-color: #58bae4;
            color: white;
            border-radius: 5px;
            max-height: 55px;
            overflow: hidden;
        }
        .padding {
            cursor: default !important;
            background-color: #FFFCFF !important;
            box-shadow: none !important;
        }
        